@font-face {
  font-family: "Muller";
  src: url("MullerMedium.eot");
  src: local("Muller Medium"), local("MullerMedium"),
    url("MullerMedium.woff2") format("woff2"),
    url("MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("MullerBold.eot");
  src: local("Muller Bold"), local("MullerBold"),
    url("MullerBold.woff2") format("woff2"),
    url("MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muller Regular";
  src: url("MullerRegular.eot");
  src: local("Muller Regular "), local("MullerRegular"),
    url("MullerRegular.woff2") format("woff2"),
    url("MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
